.main-container {
  max-width: 1600px; /* Increased from 1200px to 1600px */
  margin: 0 auto;
  border: 5px solid black;
  padding: 40px; /* Increased padding for more spacing */
  background-color: white;
  overflow: hidden;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #4a4a4a;
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
}

.game-image {
  width: 100%;
  height: auto;
  border-radius: 120px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}